<!--The content below is only a placeholder and can be replaced.-->

<!---
<div style="text-align:center">
<p>Normal string - {{str}}</p>
<p>reversed string using pipe - {{str | myrev}}</p>
</div>
-->

<!---
<div style="text-align:center">
  <p>addition of {{no1}} and {{no2}} is : {{no1 | myadd:no2}}</p>
  <p>Multiplication of {{no1}} and {{no2}} is : {{no1 | myMult:no2}}</p>
</div>
-->

<div style="text-align:center">
  <p>No is {{no2}}</p>
  <p>Check for perfect : {{no1 | marvellousChk:"perfect"}}</p>
  <p>Check for prime : {{no1 | marvellousChk:"prime"}}</p>
  <p>Check for even : {{no1 | marvellousChk:"even"}}</p>
  <p>Check for odd : {{no1 | marvellousChk:"odd"}}</p>
</div>