<div class="container">
    <form>
        <div class="form-group w-100">
            <label>Email*</label>
            <input type="email" class="form-control" [(ngModel)]="_dataservice.email" name="email">
        </div>
        <div class="form-group w-50">
            <label>Date and Time you first noticed this bug*</label>
            <input type="date" [(ngModel)]="_dataservice.myDate" name="Date" class="form-control" />
            <timepicker [(ngModel)]="_dataservice.mytime" name="time"></timepicker>
        </div>
        <div class="form-group w-100">
            <label>Impact*</label>
            <input list="encodings" value="" class="form-control" [(ngModel)]="_dataservice.impact" name="imapctLevel" />
            <datalist id="encodings">
                <option value="low">low</option>
                <option value="medium">medium</option>
                <option value="high">high</option>
            </datalist>
        </div>
        <div class="form-group w-50">
            <label>Detailed explanation of bug*</label>
            <textarea rows = "5" cols = "148" name = "description" [(ngModel)]="_dataservice.bug" name="bug">
            </textarea>
        </div>  
    </form>
</div>

<app-footer></app-footer>
